<mat-list cdkDropList (cdkDropListDropped)="onItemDropped($event)" *ngFor="let check of checks || [], let index=index" (mouseenter)="check.isHovered = true" (mouseleave)="check.isHovered = false" [ngClass]="check.isCheck ==true? 'allActive' :''">
    <mat-list-item class="mat-accordion-list" cdkDrag>
        <div class="mat-list-details">
            <mat-checkbox [checked]="check.isCheck" [style.opacity]="check.isHovered ? 1 : 0" class="custom-checkbox" (change)="onCheckboxListChange(check ,index)"> </mat-checkbox>
            <span>{{index}}</span>
            <div class="custom-sub-heading">
                {{check.check}}
            </div>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="more-vernt">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
            <button mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
        </mat-menu>
    </mat-list-item>
</mat-list>