.example-action-buttons {
    padding-bottom: 20px;
  }

.mat-expansion-panel-header {
    height: 60px;
}

  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }
  .custom-panel-header{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .custom-panel-header  .title-panel{
    display: flex;
    flex-direction: column;
  }
  .custom-panel-header .custom-heading{
    font-size: 16px;
  }
  .custom-panel-header .custom-sub-heading{
    color:#2626268A
  }
  //
  .mat-accordion-list{
    z-index: 10;
    position: relative;
  }
  .mat-list-details{
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .mat-list-details .custom-sub-heading{
    color:#2626268A
  }
  .more-vernt{
    position: absolute;
    top: 0px;
    right: 30px;
    z-index: 90;
  }
  //hover
  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
    background: #F5FAFC;
}
//check box

.check-panel .mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-hover-icon-color: #0078B3;
  --mdc-checkbox-selected-icon-color: #0078B3;
  --mdc-checkbox-selected-pressed-icon-color: #0078B3;
}
.mat-list-details .mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-hover-icon-color:#FFA02F;
  --mdc-checkbox-selected-icon-color: #FFA02F;
  --mdc-checkbox-selected-pressed-icon-color: #FFA02F;
}
//accordion
.mat-accordion-panel{
  margin-bottom: 10px;
}
.mat-mdc-form-field .mdc-checkbox .mdc-checkbox__background {
border-radius: 50% !important;
}
.mdc-list-item {
  padding:0px 24px;
}

.drag-dop-preview{
  display: flex;
  width: 251px;
  height: 25px;
  padding: 7px 220px 7px 8px;
  align-items: center;
  flex-shrink: 0;
  background-color: #E0EEF5;
 
  border: 1px solid #00000095;
  border-radius: 5px;
}
.shadow{
  position: relative;
  -webkit-box-shadow: 7px 5px 0px 1px   #ade0fa;
  -moz-box-shadow: 7px 5px 0px 1px   #ade0fa;
  box-shadow: 7px 5px 0px 1px   #ade0fa;
}
.select-number{
  position: absolute;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background:#ade0fa;
  color: #000;
  top:-10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-number{margin-right: 16px;font-size: 18px;}
.selected{background: #FFA02F;}

.currentAdd{
  border: 1px solid transparent;
  animation-name: borderCurrent;
  animation-duration: 3s;
}
@keyframes borderCurrent {
  from {border: 3px solid #63d867;}
  to {border: 1px solid #63d867;}
}
.mat-accordion-panel .notAllActive{
  background-color: #f4f2ee;
}
.mat-accordion-panel .allActive{
  background-color: #E0EEF5;
}

.activeCheck{
  background: #fff4e6;
}
.mdc-list{
  padding: 0;
}

.cdk-drag-placeholder {
  background: #fff4e6;
  }
  .cdk-drag-placeholder  .notAllActive,  .cdk-drag-placeholder .allActive{
    background: #fff4e6; 
    background-color:#fff4e6 ;
  }
  .mdc-list .custom-sub-heading{
    margin-left: 30px;
  }

