.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }
  .custom-panel-header{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .custom-panel-header  .title-panel{
    display: flex;
    flex-direction: column;
  }
  .custom-panel-header .custom-heading{
    font-size: 16px;
  }
  .custom-panel-header .custom-sub-heading{
    color:#2626268A
  }
  //
  .mat-accordion-list{
    position: relative;
  }
  .mat-list-details{
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .mat-list-details .custom-sub-heading{
    color:#2626268A
  }
  .more-vernt{
    position: absolute;
    top: 0px;
    right: 10px;
  }
  //hover
  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
    background: #F5FAFC;
}
//check box
.section-panel .allActive{
    background-color:#fff4e6 ;
}