<mat-accordion class="section-panel" multi>
    <mat-expansion-panel *ngFor="let selection of selectData ,let i=index" cdkDropList [cdkDropListData]="selection" (cdkDropListDropped)="onItemDropped($event, i)" (mouseenter)="mouseEnter(selection ,i)" (mouseleave)="selection.isHovered = false" #expansionPanel [ngClass]="selection.isCheckAll ==true? 'allActive' :''" [disabled]="!selection.checks?.length">
        <mat-expansion-panel-header>

            <mat-panel-title class="custom-panel-header">
                <div class="check-panel">
                    <mat-checkbox [checked]="selection.isCheckAll" [style.opacity]="selection.isHovered ? 1 : 0" class="custom-checkbox" (change)="onCheckboxChange(selection ,i)"></mat-checkbox>
                </div>
                <div class="title-panel">
                    <span class="custom-heading">{{selection.name}}</span>
                    <span class="custom-sub-heading" *ngIf="selection.checks?.length">{{selection.checks?.length}} checks</span>
                </div>
            </mat-panel-title>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                </button>
            </mat-menu>
        </mat-expansion-panel-header>
        <mat-list *ngFor="let check of selection.checks || [], let checkNumber=index" (mouseenter)="check.isHovered = true" (mouseleave)="check.isHovered = false" [ngClass]="check.isCheck ==true? 'allActive' :''">
            <mat-list-item class="mat-accordion-list" cdkDrag [cdkDragData]="check">
                <div class="mat-list-details">
                    <mat-checkbox [checked]="check.isCheck" [style.opacity]="check.isHovered ? 1 : 0" class="custom-checkbox" (change)="onCheckboxListChange(selection ,i,checkNumber)"> </mat-checkbox>
                    <span>{{checkNumber}}</span>
                    <div class="custom-sub-heading">
                        {{check.check}}
                    </div>
                    <button mat-icon-button [matMenuTriggerFor]="menu" class="more-vernt">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                </mat-menu>
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
</mat-accordion>
<app-shared-checkbox></app-shared-checkbox>